apiVersion: v1
name: kube-keepalived-vip
version: %%CHART_VERSION%%
description: Highly available IP addresses and services via kube-keepalived-vip
home: https://github.com/aledbf/kube-keepalived-vip
engine: gotpl
