group anycast-test {
  router-id {{ .myIP }};
  local-as 65001;
  peer-as 65002;

  process watch-application {
    run /etc/exabgp/healthcheck.sh
  }

  {{ range $i, $neighbor := .neighbors }}
  neighbor {{ $neighbor }} {
    local-address {{ .myIP }};
  }
  {{ end }}
}